
<div class="container">



<form>

<div class="form-group">
<label for="exampleInputName">Imię:</label>
<input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Podaj imię">

<label for="exampleInputLastName">Podaj nazwisko:</label>
<input type="text" class="form-control" id="exampleInputLastName" aria-describedby="emailHelp" placeholder="Podaj nazwisko">

<label for="exampleInputEmail1">Email address</label>
<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>



<label for="Sex">Płeć</label>
<div class="row no-margin">
<div class="form-check col-3">
<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
<label class="form-check-label" for="exampleRadios1">
Mężczyzna
</label>
</div>
<div class="form-check  col-3">
<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
<label class="form-check-label" for="exampleRadios2">
Kobieta
</label>
</div>
</div>

<div class="form-group">
<label for="exampleFormControlTextarea1">Opis:</label>
<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Wiek</label>
<input type="number" value="18">

<div class="form-group">
<label for="exampleFormControlSelect1">Stan cywilny:</label>
<select class="form-control" id="exampleFormControlSelect1">
  <option>panna</option>
<option>kawaler</option>
</select>
</div>
<div class="row no-margin">
<button type="submit col=4" class="btn btn-primary">Wyczyść</button>
<button type="submit col=2" class="btn btn-primary">Wyślij</button>
</div>
</form>
</div>